<h1>mu.semte.ch Image Classifier</h1>
<p>Welcome to the mu.semte.ch Image Classifier demo. The intention of this demo is to showcase how image classification can fit into the mu.semte.ch stack.</p>
<p>The demo features 2 basic screens:<ol><li>Train - This is were you can train your model</li><li>Classifiy - This is were you can validate that the system works</li></ol> Below you will find more info on these routes and at the end of this page there is a small tutorial on how you can use this to teach the model the difference between <b>Darth Vader</b> and a <b>cow</b></p>

<h1>The Screens</h1>
<h2>Train</h2>
<h2>Classify</h2>

<h1>Tutorial - the difference between <b>Darth Vader</b> and a <b>cow</b></h1>